accelerate==0.26.1
aiohttp==3.9.1
aiosignal==1.3.1
antlr4-python3-runtime==4.9.3
anyio==4.2.0
astroid==3.0.2
asttokens==2.4.1
async-timeout==4.0.3
attrs==23.2.0
autopep8==2.0.4
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==41.0.7
decorator==5.1.1
diffusers==0.25.1
dill==0.3.7
exceptiongroup==1.2.0
executing==2.0.1
filelock==3.13.1
frozenlist==1.4.1
fsspec==2023.12.2
grpcio==1.60.0
huggingface-hub==0.20.2
idna==3.6
importlib-metadata==7.0.1
ipython==8.18.1
isort==5.13.2
jedi==0.19.1
Jinja2==3.1.3
markdown-it-py==3.0.0
MarkupSafe==2.1.4
matplotlib-inline==0.1.6
mccabe==0.7.0
mdurl==0.1.2
minLoRA @ git+https://github.com/cccntu/minLoRA@d47a4c93df87540bb396172cfac1f3246e7db5f9
mpmath==1.3.0
multidict==6.0.4
networkx==3.2.1
numpy==1.26.3
omegaconf==2.3.0
packaging==23.2
parso==0.8.3
pexpect==4.9.0
pillow==10.2.0
platformdirs==4.1.0
prompt-toolkit==3.0.43
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.2.2
pycodestyle==2.11.1
pycparser==2.21
pydocstyle==6.3.0
pyflakes==3.2.0
Pygments==2.17.2
pylint==3.0.3
PyYAML==6.0.1
regex==2023.12.25
requests==2.31.0
safetensors==0.4.1
six==1.16.0
sniffio==1.3.0
snowballstemmer==2.2.0
stack-data==0.6.3
starlette==0.35.1
sympy==1.12
tokenizers==0.15.0
tomli==2.0.1
tomlkit==0.12.3
torch==2.1.2
torchvision==0.16.2
tornado==6.4
tqdm==4.66.1
traitlets==5.14.1
transformers==4.36.2
typing_extensions==4.9.0
urllib3==2.1.0
wcwidth==0.2.13
Werkzeug==3.0.1
yapf==0.40.2
yarl==1.9.4
zipp==3.17.0
